@charset "UTF-8";

:root {
  --font: "Open Sans", sans-serif;
  --fontTitle: "Grand Hotel", cursive;
  --color0: #003a6b;
  --color1: #43d9c0;
  --color2: #2b3856;
  --color3: #ededed;
}

* {
  font-family: var(--font);
}

body {
  background-color: #ededed;
}
nav.navbar {
  background-color: var(--color3) !important;
}

a.navbar-brand {
  font-family: var(--font);
  font-size: 20px !important;
}

a.btn {
  color: white;
  background-color: var(--color2);
}

.menu {
  padding-top: 5px;
}

.menucontainer {
  border-bottom: 2px solid var(--color1) !important;
  z-index: 9999;
}

.menu div {
  cursor: pointer;
  background-color: transparent;
  color: black !important;
  transition: 0.2s all;
}

.menu div.act {
  background-color: var(--color1);
  color: white !important;
  transition: 0.5s all;
}

.menu span {
  width: 1px;
  height: 22px;
  background-color: var(--color1) !important;
}

@media (min-width: 1200px) {
  .responsive-font {
    font-size: 15px;
  }
}

@media (max-width: 1199.98px) {
  .responsive-font {
    font-size: 12px;
  }
}

.sobre {
  background-color: var(--color1) !important;
  border: 2px solid var(--color1);
}

.sobre:hover {
  color: var(--color1) !important;
  background-color: transparent !important;
  border: 1px solid var(--color1) !important;
}

.container-top {
  position: relative;
}

.containersobre {
  width: 120px;
  position: absolute;
  left: 100%;
  transform: translate(-100%, 0%);
}

.container-dst {
  height: 0px;
  overflow: hidden;
  transition: 1s all;
}

.container-act {
  height: 168px;
  overflow: hidden;
  transition: 1s all;
}

.tb_all {
  display: none;
  flex-direction: row;
  height: 0px;
  overflow: hidden;
}

.div-opt-act {
  display: flex;
  height: 100%;
  flex-direction: row;
  transition: 1s all;
}
