@charset "UTF-8";

:root {
  --font: "Open Sans", sans-serif;
  --fontTitle: "Lobster", sans-serif;
  --color0: #ffc2c7;
  --color1: #8fdde7;
  --color2: #98042d;
  --color3: #ffff;
}

.infiniteSaborTextContainer {
  width: 100%;
  background-color: var(--color2);
}

.infiniteSaborImgContainer {
  width: 100%;
}

.infiniteSaborImg {
  width: 100%;
}

.title-card h1 {
  color: var(--color1);
  font-family: var(--fontTitle);
}

.text-card {
  color: white;
}

.container-content-card {
  width: 100%;
}

.infiniteBtn {
  color: var(--color1);
  border: 1px solid var(--color1);
}

.infiniteBtn:hover {
  background-color: var(--color1);
  color: var(--color2);
}

.infinitebtn:active {
  background-color: var(--color1) !important;
  color: var(--color2) !important;
  box-shadow: 0px 0px 3px 4px #8fdde7a7;
  transform: scale(1.2);
}

.container-ondeComprar .title-card h1 {
  color: black;
  text-align: center;
}

.carde {
  width: 100%;
}

.divImgCarde {
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}

.divImgCarde img {
  transition: 0.5s;
}

.divImgCarde img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.title-img h2 {
  font-family: var(--fontTitle);
  text-align: center;
}

.content-img p {
  text-align: center;
}

.btn-img {
  color: var(--color2);
  background-color: var(--color1);
}

.btn-img:hover {
  color: var(--color1);
  background-color: var(--color2);
}

.container-topPopulares .title-card h1 {
  color: var(--color2);
  text-align: center;
}

.topPopularesSection {
  background-color: var(--color1);
}

.topPopularesSection .carde {
  background-color: var(--color3);
}

.verSobreSection {
  width: 100%;
  background-color: var(--color0);
}

.container-sobre {
  width: 100%;
}

.container-sobre .title-card h1 {
  color: var(--color2);
  text-align: center;
}

.container-sobreAll {
  width: 100%;
}

.container-sobre p {
  color: gray;
  text-align: center;
}

.btn-sobre {
  border: 1px solid var(--color2);
  color: var(--color2);
}

.btn-sobre:hover {
  background-color: var(--color2);
  color: var(--color3);
}

.container-imagensAll {
  width: 100%;
  padding: 0% 5%;
  justify-content: end;
}

.container-imagem {
  width: 55%;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.2s all;
}

#container-imagem1 {
  z-index: 3;
}

#container-imagem2 {
  margin-left: -10%;
  z-index: 2;
}

#container-imagem3 {
  margin-left: -10%;
  z-index: 1;
}

.sobreImg {
  width: 100%;
  cursor: pointer;
  transition: 0.2s all;
}

.container-imagem:hover {
  z-index: 4 !important;
}
.sobreImg:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media (min-width: 1200px) {
  .infiniteSaborTextContainer {
    width: 100%;
  }

  .infiniteSaborImgContainer {
    width: 100%;
  }

  .container-content-card {
    width: 75%;
  }

  .container-ondeComprar .title-card h1 {
    text-align: start;
  }

  .container-topPopulares .title-card h1 {
    text-align: start;
  }

  .container-sobre .title-card h1 {
    text-align: start;
  }

  .carde {
    width: 50%;
  }

  .title-img h2 {
    font-family: var(--fontTitle);
    text-align: start;
  }

  .content-img p {
    color: gray;
    text-align: start;
  }

  .verSobreSection {
    padding: 5% 3%;
  }

  .container-sobreAll {
    border-radius: 0px 5px 5px 0px;
  }

  .container-sobre {
    width: 50%;
  }

  .container-sobre p {
    text-align: start;
  }

  .container-imagensAll {
    width: 50%;
  }
}
