@charset "UTF-8";

:root {
  --font: "Open Sans", sans-serif;
  --fontTitle: "Lobster", sans-serif;
  --color0: #ffc2c7;
  --color1: #8fdde7;
  --color2: #98042d;
  --color3: #ffff;
}

body {
  min-height: 100vh;
}
html {
  min-height: 100vh;
}

body {
  justify-content: start;
  align-items: start;
  background-color: var(--color3);
}

main {
  width: 100%;
}

.banner {
  width: 100%;
  height: 40%;
  background-color: var(--color2);
}

.container-login {
  width: 100%;
  background-color: transparent;
}

.container-banner-text p {
  color: white;
}

.container-content-banner h1,
p {
  color: white;
}

.btn-banner {
  background-color: transparent;
  border: 1px solid var(--color1);
  color: var(--color1);
}

.btn-banner:hover {
  border: 1px solid var(--color1);
  background-color: var(--color1);
  color: var(--color2);
}
@media (min-width: 1200px) {
  body {
    justify-content: center;
    align-items: center;
  }

  body,
  html {
    height: 100vh;
  }
  main {
    width: 75%;
    height: 75%;
    border-radius: 15px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }

  .banner {
    width: 40%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
  }

  .container-login {
    border-radius: 15px 0px 0px 15px;
  }

  .container-login {
    width: 60%;
    height: 100%;
  }
}

@media (max-width: 320px) {
  main {
  }
  .banner {
  }

  .container-login {
  }
}

.btn-create {
  background-color: transparent;
  border: 1px solid var(--color2);
  color: var(--color2);
}

.btn-create:hover {
  background-color: var(--color2);
  border-color: var(--color2);
  color: var(--color1);
}

.container-content-create h1,
p {
  color: black;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.entrarAnimacao {
  animation: 1s steps(120) fade-in forwards;
}

.sairAnimacao {
  animation: 0.3s steps(120) fade-out forwards;
}

