@charset "UTF-8";

:root {
  --font: "Open Sans", sans-serif;
  --fontTitle: "Lobster", sans-serif;
  --color0: #ffc2c7;
  --color1: #8fdde7;
  --color2: #98042d;
  --color3: #ffff;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: var(--font);
}

body {
  background-color: var(--color3) !important;
}

.sectionPedidosRequest {
  background-color: var(--color1);
}

.container-title h1 {
  color: var(--color2);
}

.textTitle {
  font-family: var(--fontTitle);
}

.card {
  width: 100%;
  border-color: var(--color2);
}

.card-title {
  color: var(--color2);
}

.btn-addCar {
  border-color: var(--color2);
  color: var(--color2);
}

.btn-addCar:active {
  background-color: var(--color2) !important;
  color: var(--color0) !important;
}

.btn-addCar:hover {
  background-color: var(--color2);
  color: var(--color0);
}

.over .imgHidden {
  position: relative;
  z-index: 9999;
}

.container-img {
  overflow: hidden;
  max-height: 190px;
}

.card-body {
  transition: 0.2s;
}

.over:hover {
  overflow: visible;
}

.container-img:hover body {
  color: var(--color2);
}

.carrinhoBtn {
  background-color: var(--color2);
  border-color: var(--color0);
  color: var(--color0);
  position: fixed;
  top: 80vh;
  left: 100vw;
  transform: translate(-110%);
  white-space: nowrap;
  z-index: 9999;
}

.offcanvas {
  z-index: 99999;
}

.carrinhoBtn:active {
  background-color: var(--color0) !important;
  color: var(--color2) !important;
}

.carrinhoBtn:hover {
  background-color: var(--color3);
  border-color: var(--color0);
  color: var(--color2);
}

.canvasCar {
  background-color: var(--color0);
  z-index: 9999;
}

h5.offcanvas-title {
  color: var(--color2);
}

.btn-offcanva {
  position: fixed;
  top: 100%;
  transform: translate(0%, -130%);
}

.btnRealizarPedido {
  background-color: var(--color2);
  border-color: var(--color2);
  color: var(--color3);
}

.btnRealizarPedido:hover {
  background-color: var(--color1);
  border-color: var(--color1);
  color: var(--color2);
}

.btn-removerTudo {
  background-color: var(--color1);
  border-color: var(--color1);
  color: var(--color2);
  left: 78%;
  transform: translate(-50%, -130%);
  white-space: nowrap;
}

.btn-removerTudo:hover {
  background-color: var(--color2);
  border-color: var(--color2);
  color: var(--color1);
}

.btnRealizarPedido:active {
  background-color: var(--color2) !important;
  border-color: var(--color2) !important;
  color: var(--color3) !important;
}

.btn-removerTudo:active {
  background-color: var(--color1) !important;
  border-color: var(--color1) !important;
  color: var(--color2) !important;
}

.carrinhoLi {
  list-style: none;
}

.carrinhoP {
  color: var(--color2);
}

.btnRemovePedido {
  background-color: transparent;
  border: none;
  color: red !important;
  cursor: pointer;
}

.svgCloseBtn {
  pointer-events: none;
}

.backgroundS {
  background-color: rgba(0, 0, 0, 0.608);
  z-index: 999999;
}

@media (min-width: 1200px) {
  .card {
    width: 18rem;
  }

  .carrinhoBtn {
    top: 50vh;
    left: 98vw;
  }

  .btn-removerTudo {
    left: 300px;
  }
}
