@charset "UTF-8";

:root {
  --font: "Open Sans", sans-serif;
  --fontTitle: "Lobster", sans-serif;
  --color0: #ffc2c7;
  --color1: #8fdde7;
  --color2: #98042d;
  --color3: #ffff;
}

* {
  font-family: var(--font);
}

body {
  background-color: #ededed;
}
nav.navbar {
  background-color: var(--color0) !important;
}

.navbar-brand {
  color: var(--color3);
  font-family: var(--fontTitle);
}

.navbar-brand:hover {
  color: var(--color3);
}

.nav-link {
  color: white;
  font-family: var(--fontTitle);
}

.nav-link:hover {
  color: var(--color2) !important;
}

.navbar-collapse {
  justify-content: end;
}

.navbar-collapse p {
  color: white;
}
